<div class="page-center auth-page-bg">
  <div class="auth-card">
    
    <h2>Reset Password</h2>

    <div *ngIf="step === 'emailStep'">
      <p class="auth-subtitle">Verify your email to receive an OTP</p>
      
      <div class="form-group">
        <label class="form-label">Enter your Email</label>
        <input 
          type="email" 
          name="email" 
          class="form-control" 
          [(ngModel)]="resetForm.email" 
          placeholder="example@mail.com" 
          required />
      </div>

      <button (click)="generateOtp()" class="btn btn-primary full-btn" [disabled]="loading">
        {{ loading ? 'Sending...' : 'Generate OTP' }}
      </button>
    </div>

    <div *ngIf="step === 'resetStep'">
      <p class="auth-subtitle">Updating credentials for <strong>{{resetForm.email}}</strong></p>
      
      <form (ngSubmit)="updatePassword()">
        <div class="form-group">
          <label class="form-label">Enter OTP</label>
          <input type="text" name="otp" class="form-control" [(ngModel)]="resetForm.otp" placeholder="4-digit OTP" required />
        </div>

        <div class="form-group">
          <label class="form-label">New Password</label>
          <input type="password" name="nPass" class="form-control" [(ngModel)]="resetForm.newPassword" placeholder="New Password" required />
        </div>

        <div class="form-group">
          <label class="form-label">Confirm Password</label>
          <input type="password" name="cPass" class="form-control" [(ngModel)]="resetForm.confirmPassword" placeholder="Confirm Password" required />
          
          <div class="error-text" style="color: red; font-size: 0.8rem; margin-top: 5px;" 
               *ngIf="resetSubmitted && resetForm.newPassword !== resetForm.confirmPassword">
            Passwords do not match. Please cross-check.
          </div>
        </div>

        <button type="submit" class="btn btn-primary full-btn" [disabled]="loading">
          {{ loading ? 'Updating...' : 'Update Password' }}
        </button>
      </form>
    </div>

    <!--<div class="auth-footer mt-3">
      <a routerLink="/login" class="text-link">← Back to Login</a>
    </div> -->

  </div>
</div>